* {
    box-sizing: border-box;
    border: solid red;
} 

body {
    margin: 10 px;
    font-family: Helvetica;
  }

/*---------- tamagotchi view title ----------*/
h1 {
    width: 100%;
    height: 100%;
    text-align: center;
    border: 5px solid black;
    margin: 0;
    padding: 10px;
}

#name, #age { 
    display: inline-flex;
    width: 40%;
    margin: 10px;
    
}

.image {
    padding: 100px;
    text-align: center;
    border-bottom: 2px solid black;
    font-size: 50px;
}

#fun {
    border: 2px solid black;
    padding: 10px;
    
}



#potty, .yummies, .play {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    
}

.h3 {
    width: 20%;
    justify-content: flex-end;
    margin: 0 10px 0 0;
    text-align: center;
}
/* .bar */ #pottyBar, #eatBar, #playBar {
    display: inline-block;
    width: 90%;
    border: 1px solid black;
    background-color: lightgray;
    text-align: center;
    padding: 0 20px 0 20px;
    margin: 0 10px;
} 

#playBtn, #yummyBtn, #pottyBtn {
    text-align: center;
    justify-content: space-between;
    margin: 0;
    width: 10%;
}
